body, td {
	font-size: 12px;
	font-family: Calibri,Arial,Helvetica,sans-serif;
}
img { border: none; }
table { border-collapse: collapse; }

i.status_red, i.status_yellow, i.status_green, i.status_blue {
	display: block;
	float: left;
	margin-top: -3px;
	margin-right: 4px;
	width: 20px;
	height: 20px;
}
td.statusred, i.status_red {
	background: url(../images/red_small.gif) no-repeat center center;
}

td.statusyellow, i.status_yellow {
	background: url(../images/yellow_small.gif) no-repeat center center;
}

td.statusgreen, i.status_green {
	background: url(../images/green_small.gif) no-repeat center center;
}

td.statusblue, i.status_blue {
	background: url(../images/blue_small.gif) no-repeat center center;
}

label {
	clear: both;
	float: left;
	width: 120px;
	text-align: right;
	padding-right: 5px;
}

label.cbox {
	float: none;
	width: auto;
	text-align: left;
	padding-left: 5px;
}

.tabmenu span.logout {
	float: right;
	padding-right: 10px;
}

span.menuitem {
	float: left;
	display: block;
	width: 75px;
	border: 1px solid white;
	background-color: #501214;
	text-align: center;
	color: white;
	padding: 3px;
}

span.menuitem a {
	color: white;
	text-decoration: none;
}

span.menuitem a:hover {
	text-decoration: underline;
}

div#contentdiv {
	position: relative;
	border: 1px solid #501214;
	clear: both;
	padding: 10px;
}
